/* Styles go here */

.item-selected {
  border: 1px solid black;
}

my-first-directive h1 {
  color: red;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}