
.logo {
    width: 42px;
    height: 42px;
    float: left;
    margin: 4px 0px 0px 10px;
}


.navbar-right li a {
    padding-top: 7px;
    padding-bottom: 6px;
    margin: 2px;
    border: 2px solid #bbb;
    border-radius: 5px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.icon-bar {
    width: 100%;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 14%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}

i.fa {
    display: none;
}
.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}



