
.logo {
    width: 42px;
    height: 42px;
    float: left;
    margin: 4px 0px 0px 10px;
}

li.fa-bar a {
    padding: 9px 8px 12px 8px;
    margin: 0px 0px;
    text-align: center;
}

.navbar-right li a, .jumbotron-links li a {
    padding-top: 7px;
    padding-bottom: 10px;
    margin: 2px 4px;
    border: 2px solid #bbb;
    border-radius: 5px;
}

div.app-bar {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

ul.fa-bar {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

li.fa-bar{
    min-width: 13.9%;
}

.icon-bar a {
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
    color: white !important;
}

.navbar {
    margin-bottom: 0;
}

span.glyphicon {
    padding: 5px;
} 

.lan-select {
    margin: 6px;
}

.lan-option {
    border-style: hidden;

}

li.fa-bar, li.app-bar {
    display: inline-block;
}

ul.fa-bar {
    width: 100%;
}

div.container-fluid {
    padding-left:0;
    padding-right:0;

}
.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    
}

span.temperaure-notify {
   position:absolute;
   top: 12px;
   right: 12px;
}

div.temperaure-notify {
   padding-top: 12px;
   padding-right: 12px;
}

div.btn-badge {
    padding: 0px;
    margin: 0px;
}

a.btn-badge {
    padding-top: 0px !important;
    padding-bottom: 3px !important;
}

.badge-notify{
   background:red;
   position:absolute;
   top: 3px;
   right: 5px;
   font-size: 1.5em;
}

.rule-baner {
    font-weight: bold;
}

.jumbo-bar {
    margin-bottom: 0;
}

/* Login form */

form.login-frm {
    border: 3px solid #f1f1f1;
}

input.login-frm[type=text], input.login-frm[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.login-frm {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button.login-frm:hover {
    opacity: 0.8;
}

.cancelbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.login-op {
    padding: 10px 5px 10px 5px;
}

a.signup-fmr {
    padding-left: 30px;
}

div.login-frm {
    margin-top: 20px;
}

input.login-frm {
    width: 50% !important;
    min-width: 400px;
}

h1.login-header {
    line-height: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    min-width: 400px;
}

div.login-container {
    min-width: 460px !important;
}

img {
    width: 100px;
    margin-top: -14px;
}

div.container {
    width: 440px;

}
