.actorsUl {
    display: inline-block;
}

.navbar {
    height: 80px;
    padding: 10px;
}
span {
    color: white;
}
.actorImg {
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
    object-fit: cover;
}

.logo {
    width: 64px;
    height: 64px;
    float: left;
    margin: 0px 10px 0px 0px;
}


.floating-box {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    border: 5px solid #afafaf;
    background-color: black;
    color: white;
    overflow: none;
    box-sizing: border-box;
}

.item-selected {
  border: 5px solid red;
  box-shadow: 15px 15px 5px #888888;
}

div.transbox {
  position: absolute;
  bottom: 0;
  max-height: 50%;
  overflow: auto;
  width:100%;
  position: bottom;
  background-color: rgba(20,20,20,0.8);
  border: 1px solid black;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  display: none;
}

div.item-selected div.transbox {
  display: block;
}

div.item-selected button {
  color: blue;
  background-color: inherit;
  padding: 0 20px 0 0;
  margin: 0 0 0 20px;
  border: none;
}

div.transbox a, span {
    padding: 0 20px 0 20px;
}


.coverflow {

    &__container {
        position: absolute;
        left: 0;
        right: 0;
        perspective: 900px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__element {
        position: absolute;
        left: 50%;
        width: 560px;
        height: 336px;
        margin-left: -280px;
        margin-top: -175px;
        transform-style: preserve-3d;
        transition: all 400ms cubic-bezier(.01, .75, .34, .95);
        background: #fff;
        box-shadow: 0 20px 16px -2px rgba(0, 0, 0, .75);
        cursor: pointer;
    }

    &__image {
        img {
            width: 100%;
        }
    }

    &__title {
        font-family: Helvetica;
        margin-top: 1rem;
        padding-left: 1.5rem;
    }

}

body {
  background: #444;
  height: 100% !important;
}




