<h1>SmartTech</h1>
<h2>About View</h2>
<span><img src='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/4x3/us.svg' style='height: 16px;' alt='English'>English</span>
<span><img src='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/4x3/fr.svg' style='height: 16px;' alt='Français'>Français</span>
<span><img src='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/4x3/es.svg' style='height: 16px;' alt='English'>Español</span>
<span><img src='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/4x3/de.svg' style='height: 16px;' alt='Deutsche'>Deutsche</span>
<span><img src='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/4x3/il.svg' style='height: 16px;' alt='עברית'>עברית</span>
