<!DOCTYPE html>
<html  ng-app="actorsApp" ng-controller="actorCtrl">
  <head>
    <title>AngularJS TR1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="style1.css" />
    <script src="app1.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="logo" ng-src="Images/ActorsAppIcon.png"  alt="">
          <a class="navbar-brand" href="#">GloryBox - Entertainment</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" name="search" placeholder="Search actors" ng-model="actorFilter">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
            <select class="form-control" ng-model="orderProp">
              <option value="nationality">Nationality</option>
              <option value="actorName">Actor name</option>
              <option value="birthDate">Birth Date</option>
            </select>
          </form>
        </div>
      </div>
    </nav>
    <div class="actorsUl">
      <div class="floating-box" ng-repeat="actor in actors | filter: fullNameFilter" ng-click=""> <!---  | order: orderProp -->
        <img class="actorImg" ng-src="Images/{{actor.actorImg}}" alt="">
        <a ng-href="{{actor.actorURL}}" target="_blank">{{actor.firstName}} {{actor.lastName}}</a>
        <span>{{actor.birthDate}}</span>
        <span>{{actor.Country}}</span>
      </div>
    </div>

  </body>
</html>