<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="app1.js"></script>
    <title>AngularJS TR1</title>
  </head>

  <body>
    <div ng-app="">
      <select ng-model="orderProp">
        <option value="nationality">Nationality</option>
        <option value="actorName">Actor name</option>
        <option value="birthDate">Birth Date</option>
      </select>

      <ul>
        <li ng-repeat="actor in actors | orderBy: orderProp">
          <span>{{actor.Name}}</span>
          <img src="{{actor.actorImg}}" alt="">
          <p>{{actor.birthDate}}</p>
          <span>{{actor.Country}}</span>
          <a href="{{actor.actURL}}"></a>
        </li>
      </ul>
    </div>

  </body>
</html>