.actorsUl {
    display: inline-block;
}

.actorImg {
    max-width: 150px;
    height: 150px;
    background-color: black;
}

.logo {
    width: 48px;
    height: 48px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.floating-box {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
    border: 3px solid #73AD21;  
}

