.actorsUl {
    display: inline-block;
}

.actorImg {
    max-width: 200px;
    height: 300px;
    background-color: black;
}

.logo {
    width: 48px;
    height: 48px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.floating-box {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px 40px;
    border: 3px solid #73AD21;
    background-color: black;
    color: white;
    overflow: none;
    box-sizing: border-box;
}

