<div class='login-frm' style='background-color:black; color:white;'>
    <h1 class='login-header' style='font-family: "Pacifico"'><img src="/assets/img/smart-home-icon-black-150x150.png" alt="logo">SmartTech@Home</h1>
</div>
<form class='login-frm' action='/action_page.php'>

  <div class='container login-frm'>
    <label><b>Username</b></label><br>
    <input class='login-frm' type='text' placeholder='Pick a username' name='uname' required><br>

    <label><b>Email</b></label><br>
    <input class='login-frm' type='text' placeholder='Enter Email you@example.com' name='uemail' required><br>

    <label><b>Hub ID</b></label><br>
    <input class='login-frm' type='text' placeholder='Enter Hub serial #' name='hubid' required><br>

    <label><b>Phone Number</b></label><br>
    <input class='login-frm' type='text' placeholder='Enter phone number' name='pnumber' required><br>

    <label><b>Password</b></label><br>
    <input class='login-frm' type='password' placeholder='Enter Password' name='psw' required><br>
        
    <label><b>Re-enter Password</b></label><br>
    <input class='login-frm' type='password' placeholder='Re-enter Password' name='rpsw' required><br>
        
    <button class='login-frm' type='submit'>Login</button>
    <input class='login-remember' type='checkbox' checked='checked'> Remember me
  </div>

  <div class='login-container container' style='background-color:#f1f1f1'>
    <button type='button' class='cancelbtn login-fmr'>Cancel</button>
    <a class='signup-fmr' href='#!/join'><span class="glyphicon glyphicon-user"></span> Sign Up: Create an account</a>
    <span class="psw">Forgot <a  class='login-fmr' href="#">password?</a></span>
    <div class='login-options' style='text-align: center;'>
      <a class='login-op' href='#!/terms'><i class='material-icons' style='font-size: 14px'>&#xe06b;</i> Terms</a>
      <a class='login-op' href='#!/privacy'><span class='fa fa-user-secret'></span> Privacy</a>
      <a class='login-op' href='#!/security'><i class="material-icons" style='font-size: 14px'>&#xe32a;</i> Security</a>
      <a class='login-op' href='#!/contactus'><i class="fa">&#xf27a;</i> Contact Us</a>
    </div>
  </div>
</form>
